body{


    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    background-color: #BC5A94;


}


.info{


    background-color: #FFC7ED;

    align-items: center;
    justify-content: center;
    display: flex;
    gap: 40px;
    width: 30%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 40px;
    background-color: #F7F9F2;

        border: 1px solid #929292; /* 2px thick, solid black border */
    
    
}


.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Increased margin for more gap */
    width: 100%;
}




.s{

background-color: #E8C5E5; 
   display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;

}

.ss{

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;

}



.bu{


    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


.sub{

    height: 40px;
    width: 95px;
    background-color: #BC5A94;



}


.sub:hover{


    background-color: rgb(254, 103, 159);
}


